# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# Python package build files
*.egg-info/
build/
dist/

# Data and output files
data_Gupta_1992/
output/

# Scripts
scripts/

# System files
.DS_Store
Thumbs.db

# Pseudocodes
pseudocodes/

# Test files
test.py
test.txt

# Others
print_dir_struc.py
temp.txt
job_notes/
example/
